.PasswordGenerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: 100%;
  margin: 0 auto;
  background-color: #242424;
}

.PasswordGenerator > h2 {
  font-size: 2rem;
  padding-top: 2rem;
}

.password {
  padding: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.buttons button {
  width: 5rem;
  height: 3rem;
  background-color: #000;
  cursor: pointer;
  border-radius: 0.6rem;
  border: none;
  font-size: 1.3rem;
}

.buttons button:active {
  border: 2px solid #9400d3;
}
